*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;

}
.nav_list{
    width: 50%;
    align-items: center;
    display: flex;
}

.nav_list li{
    list-style: none;
    padding: 23px 36px;
}
.nav_list li a{
    text-decoration: none;
    color: white;
}
.nav_list li a:hover{
   color:grey;
}
.rightnav{
    width: 50%;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 2px solid white;
    border-radius: 105px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
}
.background{
    background: rgba(0, 0, 0, 0.7) url("/img/laptopbg.jpg");
    background-size: cover;
    background-blend-mode: darken;
}
.box_main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
}
.secondhalf img{
    width: 70%;
 
    border: p4px solid white;
    border-radius: 100px;
}
.firsthalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.secondhalf{
    width: 30%;
}

 