*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
}
.nav_list{
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.nav_list li{
    list-style: none;
    padding: 23px 36px;
}
.nav_list li a{
    text-decoration: none;
    color: white;
}
.nav_list li a:hover{
   color:grey;
}
.rightnav{
    width: 50%;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 2px solid white;
    border-radius: 105px;
}
#search{
    padding: 5px;
    font-size: 17px;
}
.background{
    background: rgba(0, 0, 0, 0, 0.7) url("/img/laptopbg.jpg");
}